#profilepic {
    border-radius: 50%;
}
        
p {
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 17px;
}
        
.navbar {
    position: fixed;
    margin-bottom: -2px;
}
        
.well {
    height: 1080px;
}
        
#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 10px; 
}